@font-face {
  font-family: "AnandaRegular";
  src: url("../public/fonts/AnandaNamasteRegular.ttf");
}

@font-face {
  font-family: "NexaLight";
  src: url("../public/fonts/NexaLight.otf");
}

@font-face {
  font-family: "NexaBold";
  src: url("../public/fonts/NexaBold.otf");
}

@import url("https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,300;1,300;1,400&display=swap");

:root {
  --red: #ee4037;
  --black: #111011;
  --background-color: #f8f2e4;
  --border-color: #d4ae93;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: var(--background-color);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.mainWrapper {
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}

.leftContainer {
  width: 20%;
  min-width: 270px;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0px;
  /* border-right: 2px solid var(--black); */
  background-color: #fff;
  z-index: 100;
}

.rightContainer {
  width: 80%;
  margin-left: auto;
  background-color: #fff;
  height: -webkit-fill-available !important;
}

::selection {
  color: var(--red);
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  border-radius: 300px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--border-color);
  border-radius: 300px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--red);
}

.cls-1 {
  fill: #f8f1f0;
}
.cls-2 {
  fill: #100f10;
}

.cls-3 {
  fill: var(--red);
}
.cls-2 {
  fill: #100f10;
}
