.parallax {
  min-height: 100vh;
  background-image: url("../public/assets/logoRed.svg");
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  /* background-size: center; */
  background-size: 80% 80%;
}

.parallax2 {
  background-color: var(--background-color);
}

@media only screen and (max-width: 1000px) {
  .parallax {
    background-attachment: initial;
  }
}
